NEXT_PUBLIC_SANITY_PROJECT_ID=your-project-id
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-05-09
SANITY_API_WRITE_TOKEN=skfWHtjm2XBgrSc2OblDxAQm6yjPLmW1X7QaOb2HSNQtJO19yBB2oxURK4xWRsv2Vhrg6ctOqmiU1AAPwCFlxWfr5XgqFxzY87VbcaF567fMhRwrAgPxMmWmtRwyohN7hnOyHnAuyXr2txWpu9EMqDB3RY4PBXqOEvtwd8RUmKjnVjI3FuBN
